
.container {
  background: url('../images/images/bmi.jpg') no-repeat center center/cover;
  /* Fallback background color with opacity */
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: bold;
}

.input-group {
  width: 500px;
  height: 200px;
  justify-content: center;
}

input {
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 30px;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

ul li {
  margin-bottom: 10px;
}
