
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-form {
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.footer {
    background-color: navy;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
}

.social-icons i {
    font-size: 24px;
    margin-right: 10px;
}
