
/* body {
    background: url('../images/images/background3.jpg') fixed center,
                url('../images/images/background4.jpg') fixed center;
    background-size: cover;
    animation: fadeIn 1s ease-in-out infinite alternate;
  } */
  
  @keyframes fadeIn {
    0% {
        background-position: 0% 50%, 0% 50%;
    }
    100% {
        background-position: 100% 50%, 100% 50%;
    }
  }
  /* CSS for Login Form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #15cccfe6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  