/* MedicalStore.css */

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Search Container Styles */
.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-icon {
    margin-left: -30px;
    cursor: pointer;
}

/* Medicine Cards Styles */
.medicine-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.medicine-card {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.medicine-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Modal Styles */
.modal-content {
    background-color: #f9f9f9;
}

/* Footer Styles */
.store-footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.about-store,
.shopping-help,
.social-icons,
.store-info {
    margin: 0 20px;
}

.social-icons a {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

/* Carousel Styles */
.carousel {
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
/* MedicalStore.css */

/* Image Cards Styles */
.image-cards-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-card {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Carousel Styles (continued) */
.carousel {
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Search Container Styles */
.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-icon {
    margin-left: -30px;
    cursor: pointer;
}

/* Medicine Cards Styles */
.medicine-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.medicine-card {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.medicine-card:hover {
    transform: translateY(-5px);
}

.medicine-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Modal Styles (continued) */
.modal-content {
    background-color: #f9f9f9;
}

/* Footer Styles (continued) */
.store-footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-store,
.shopping-help,
.social-icons,
.store-info {
    margin: 0 20px;
    margin-bottom: 30px;
    flex: 1 1 300px;
}

.social-icons a {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.store-info p {
    margin-bottom: 10px;
}
/* MedicalStore.css */

/* ... (previous styles) */

/* Image Cards Styles */
.image-cards-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-card {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ... (previous styles) */

/* Footer Styles */
.store-footer {
    background-color: navy;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

/* ... (previous styles) */
/* medicine.css */

/* ... (previous styles) */

/* Footer Styles */
.store-footer {
    background-color: navy;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.store-footer h4 {
    color: #fff; /* Set heading text color to white */
    margin-bottom: 20px; /* Add some space below headings */
}

.social-icons a {
    color: #fff; /* Set social media icons color to white */
    font-size: 24px; /* Adjust the font size of social media icons */
    margin-right: 15px; /* Add some space between social media icons */
}

.social-icons a:hover {
    color: #ffc107; /* Change icon color on hover */
    transition: color 0.3s ease; /* Add smooth transition effect */
}

.store-info p {
    color: #fff; /* Set store info text color to white */
    margin: 5px 0; /* Add some space around store info text */
    font-weight: bold; /* Make store info text bold */
}

.shopping-help ul {
    list-style: none; /* Remove list styles */
    padding: 0; /* Remove padding */
}

.shopping-help a {
    color: #fff; /* Set shopping help links color to white */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s ease; /* Add smooth transition effect */
}

.shopping-help a:hover {
    color: #ffc107; /* Change link color on hover */
}
/* CSS */
.reviews-section {
    margin-top: 20px;
  }
  
  .rating-stars {
    margin-bottom: 15px;
  }
  
  .star {
    margin-right: 5px;
  }
  
  .review-textarea {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .submit-button {
    background-color: #ffc107;
    color: #fff;
    padding: 12px 30px; /* Adjust padding for medium size */
    border: none;
    cursor: pointer;
    font-size: 14px; /* Adjust font size for medium size */
}
  
.submit-button:hover {
    background-color: #e0a800;
}
/* Add or update your CSS styles */
.style {
    background-color: hwb(146 3% 0%);
    color: #ffff;
    
    border: none;
    cursor: pointer;
    font-size: 16px; /* Adjust font size for medium size */
    border-radius: 5px;
    width: 80px;
    height: 65px;
     /* Optional: Add border-radius for rounded corners */
}

.style:hover {
    background-color: #e0a800;
}
