

.registration-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
}

.registration-container::before, .registration-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: slideBackground 2s linear infinite;
}

.registration-container::before {
    left: 0;
    background-image: url('../images/images/background1.jpg');
}

.registration-container::after {
    left: 100%; /* Start from outside of the container */
    background-image: url('../images/images/background2.jpg');
    animation-delay: 2s;
}

@keyframes slideBackground {
    0% {
        left: 0;
    }
    50% {
        left: -100%;
    }
    50.01%, 100% {
        left: 100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body, html {
font-family: 'Poppins', sans-serif;
height: 100%;
margin: 0;
color: #333;
}

.registration-container {
position: relative;
width: 100vw;
height: 100vh;
overflow: hidden;
}

.registration-form {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
background-color: rgba(255, 255, 255, 0.8);
padding: 30px;
border-radius: 8px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
width: 100%;
max-width: 450px;
}

input {
width: 100%;
padding: 10px 15px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
outline: none;
border-color: #007BFF;
}

button {

color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
transition: background-color 0.3s;
}

button:hover {
background-color: #0056b3;
}
.input-container {
display: flex;
align-items: center;
gap: 10px;
position: relative;
}

.input-container svg {
position: absolute;
left: 10px;
color: #999;
}

.input-container input {
padding-left: 30px; /* Shift text to right to prevent overlap with icon */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body, html {
font-family: 'Poppins', sans-serif;
height: 100%;
margin: 0;
background-color: #f6f7fb;
color: #333;
}

.registration-container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
padding: 20px;
}

.brand-logo {
display: block;
margin: 0 auto 20px auto;
width: 100px; 
}

.registration-form {
background-color: white;
padding: 30px;
border-radius: 10px;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 500px;
}

h2 {
text-align: center;
margin-bottom: 20px;
color: #2c3e50;
}

.input-container {
position: relative;
margin-bottom: 20px;
}

.input-container svg {
position: absolute;
top: 10px;
left: 10px;
color: #7f8c8d;
font-size: 20px;
}

.toggle-password-icon {
position: absolute;
top: 10px;
right: 10px;
color: #7f8c8d;
cursor: pointer;
font-size: 20px;
}

input {
width: 100%;
padding: 10px 40px 10px 40px; /* Adjusted for icons */
border: 1px solid #bdc3c7;
border-radius: 5px;
font-size: 16px;
transition: border-color 0.3s;
}

input:focus {
outline: none;
border-color: #3498db;
}

button {
background-color: #3498db;
color: white;
padding: 12px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
transition: background-color 0.3s;
}

button:hover {
background-color: #2980b9;
}

.form-footer {
text-align: center;
margin-top: 20px;
color: #333; 
}

.form-footer a {
color: #3498db; 
text-decoration: none;
transition: color 0.3s;
}

.form-footer a:hover {
color: #ec1b5a;
}
